:root {
  --primary-color: rgb(67, 81, 107);
  --font-family: 'Amatic SC', cursive;
  --font-size: 18px;
  --line-height: 1.6;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  background-color: #f4f4f4;
  color: var(--primary-color);
  background-color: var(--primary-color);
  overflow-y: scroll;
  
  /* max-width: 1280px;
  width: 100%;
  margin: 0 auto; */
}

img {
  max-width: 100%;
  height: auto;
}

/* NAVBAR (MOBILE) */
.navbar {
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  background-color: white;;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-basis: 500px;
  font-size: 24px;
  font-weight: bold;
}
.navbar-logo__link {
  width: 320px;
  flex-shrink: 0;
  min-width: 0;
}
a {
  white-space: nowrap;
}
.navbar-mobile-menu {
  display: flex;
  flex-basis: 500px;
  flex-grow: 1;
  justify-content: flex-end;
  visibility: hidden;
}
.navbar-mobile-menu__dropdown {
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    position: fixed;
    inset: 0;
    background: white;
    z-index: 2;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 4rem;
    gap: 1rem;
}
.navbar-mobile-menu__button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.navbar-mobile-menu__line {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

main {
  background-color: white;
}

/* HOMEPAGE */
.video {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.video__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.video__overlay img {
  margin-top: -1rem;
}
.video__cta {
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 4px solid var(--primary-color);
  margin-top: -1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
video {
  width: 100%;
  height: auto;
  display: block;
  /* filter: blur(8px); */
}

/* CURRENT PROJECTS */
.games {
  display: flex;
  background-color: var(--primary-color);
  padding: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  color: white;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  padding: 0 2rem;
}
.game .image {
  height: 300px;
  display: flex;
  align-items: center;
}
.game img {
  width: 300px;
}
.game h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.game a {
  text-decoration: underline;
}
.game small {
  margin: 2rem 0;
  font-size: 20px;
}

.team {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color);
  border-bottom: solid 1rem var(--primary-color);
}
.team__bg {
  filter: blur(2px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.25;
  inset: 0;
  z-index: 1;
}
.team__content {
  position: relative;
  z-index: 2;
  color: white;
  padding: 4rem 0;
}
.team h3 {
  
  font-size: 4rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.team__members {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 960px;
  width: 100%;
  margin: 2rem auto;
  gap: 3rem;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}
.team-member img {
  width: 150px;
  border-radius: 200px;
}
.team-member h4 {
  margin-top: 0.5rem;
  font-size: 36px;
  font-weight: bold;
}
.team-member p {
  font-size: 24px;
  line-height: 1.2;
}

/* FAQS PAGE */

.faqs {
  padding: 4rem 2rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs h3 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.faq-cols {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  line-height: 1.2;
  margin: 0 1.5rem;
}

.faq h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 36px;
  line-height: 1;
}
.faq p {
  margin: 1rem 0;
  font-size: 28px;
}
.faq h4::before {
  content: 'Q: ';
}
.faq p::before {
  content: 'A: ';
}

.faq img {
  border-radius: 1rem;
}

/* CONTACT PAGE */
.contact {
  padding: 4rem 2rem;
  position: relative;
  background-repeat: repeat;
  background-position: top left;
  background-size: 480px;
  font-size: 32px;
}
.contact::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: #fffa;
}
.contact h3 {
  font-size: 4rem;
  font-weight: bold;
}
.contact__content {
  position: relative;
  z-index: 1;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.contact-link {
  text-decoration: underline;
}
.contact-link:hover {
  opacity: 0.6;
}

/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 8rem;
}

footer h3 {
  font-size: 4rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  max-width: 360px;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .navbar-logo__link {
    width: 200px;
  }
  .navbar-mobile-menu {
    visibility: visible;
  }
  .video__cta {
    font-size: 18px;
    padding: 8px 16px;
  }
  footer h3 {
    font-size: 2.5rem;
  }
  .social-links {
    gap: 1rem;
    max-width: 200px;
  }
  .social-links img {
    width: 32px;
    height: 32px;
  }
}